@page
@model Dluhy6_0.Pages.TransactionsModel
@{
    ViewData["Title"] = "Transactions";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">@TempData["ErrorMessage"]</div>
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dlužníček</title>

    <link rel="stylesheet" href="./css/main.css">
</head>

<body>
    <div class="everything">
        <header class="logo-wrapper">
            <img class="logo" src="./Images/figma.png" alt="">
        </header>

        <div class="links-wrapper">
            <ul class="nav-links">
                <li><a class="transactions-link" asp-page="/Transactions">Transactions</a></li>
            </ul>
        </div>

        <h2 class="welcome-user">Welcome, @Model.UserName!</h2>

        <main class="transaction-page">
            <div class="create">
                <h3>Create Transaction</h3>

                <form class="create-form" method="post">
                    <div class="giver-label">
                        <label for="giver">Giver:</label>
                        <label for="giver">@Model.UserId</label>
                    </div>

                    <div class="input-wrapper">
                        <label for="receiver">Receiver:</label>
                        <input class="transaction-input" type="number" name="receiver" id="receiver" />
                    </div>

                    <div class="input-wrapper">
                        <label for="amount">Amount:</label>
                        <input class="transaction-input" type="number" name="amount" id="amount" />
                    </div>

                    <button class="transaction-button" type="submit">Create</button>
                </form>
            </div>

            <div class="transactions">
                <h3>Transactions</h3>


                <div class="transactions-wrapper">
                    <div class="giver">
                        <h4>Giver</h4>
                        @foreach (var transaction in Model.GetTransactions())
                        {
                            <td>@transaction.GID</td>
                        }
                    </div>

                    <div class="receiver">
                        <h4>Receiver</h4>
                        @foreach (var transaction in Model.GetTransactions())
                        {
                            <td>@transaction.RID</td>
                        }
                    </div>

                    <div class="amount">
                        <h4>Amount</h4>
                        @foreach (var transaction in Model.GetTransactions())
                        {
                            <td>@transaction.Amount</td>
                        }
                    </div>
                </div>
            </div>

            <div class="balance">
                <h3>Balance</h3>

                <div class="balance-wrapper">
                    @if (Model.GetBalance() != 0)
                    {
                        <p class="balance-status">Your balance is: @Model.GetBalance() CZK</p>
                    }
                    else
                    {
                        <p>poor bitch</p>
                    }
                </div>
            </div>
        </main>

        <footer id="footer" class="footer-wrapper-transaction">
            <div class="footer">
                <p>Copyright © 2023 Vojtisek a Misa</p>
            </div>
        </footer>
    </div>
</body>

</html>